* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.right-arrow {
  right: 32px;
  color: #000;
}
.left-arrow {
  left: 32px;
  color: #000;
}
.slide {
  opacity: 0;
  transition: 1s ease;
}
.slide.active {
  opacity: 1;
  transition: 1s;
  transform: scale(1.08);
}

/* form */
.search {
  border: 3px #ccc solid;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: 30px;
  left: 90px;
  z-index: 100;
  background-color: #fff;
  max-width: 30vw;
}
.search .heading {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 700;
}
.search .sub-heading {
  color: gray;
  margin-bottom: 15px;
}
form {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form > div > * {
  width: 100%;
}

form select,
form input,
.react-date-picker__wrapper {
  border-radius: 5px;
  height: 30px;
  outline: none;
  border: 1px gray solid;
}
form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
  color: white;
  background-image: linear-gradient(to right, #61045f 0%, #aa076b 51%);
}
form .date {
  border: none;
}
